{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="agrindustrial servises">
      <meta name="keywords" content="Agriculture, Industrial Hemp, PCNB, Farming, Crop, Sustainability">
      <meta name="author" content="Milad Yavari, CEO of PCNB Co.">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet" />
      <link rel="icon" type="image/x-icon" alt="pcnblogo" href="{% static 'blog/logo opacity.png' %}">

    {% if title %}
        <title>PCNB - {{ title }}</title>
    {% else %}
        <title>PCNB</title>
    {% endif %}
  </head>

    <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
              <a class="navbar-brand" href="/">
                <img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
              </a>
            <a class="navbar-brand mr-2 font-weight-normal" href="{% url 'blog-vpcnb' %}">PCNB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                  <a class="nav-item nav-link" href="{% url 'subscribe' %}">Subscribe</a>
                {% endif %}
              </div>
            </div>
          </div>
          <form action="{% url 'set_language' %}" method="post" class="d-flex align-items-center">
            {% csrf_token %}
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Language
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                    <li>
                        <button type="submit" name="language" value="en" class="dropdown-item">English</button>
                    </li>
                    <li>
                        <button type="submit" name="language" value="fa" class="dropdown-item">Farsi</button>
                    </li>
                </ul>
            </div>
        </form>
        
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          {% block main %}
          <div class="col-md-4">
            <div class="content-section">
              <div class="content">
                <img class="m-2 float-start" src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
              </div>
              <h1>About PCNB Co.</h1>
              <div class="content-section">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><h4>Information</h4></li>
                  {% blocktrans %}
                    <p class="mt-2">
                      PCNB Co. is a private joint-stock company established in 2013, dedicated to advancing research and development in related scientific fields.
                      We offer comprehensive services to farmers and farm owners, from crop production to the sale of various agricultural products, catering to both domestic and international markets.                      
                      We warmly welcome you to PCNB Co. and take pride in fostering long-term, meaningful partnerships. Our goal is to establish responsible collaborations with like-minded individuals and organizations.                      
                      For direct communication, please find our email address below. Feel free to contact us!
                    </p>
                  {% endblocktrans %}
  
                    <div class="float">
                      <a href="{% url 'blog-about' %}" class="btn btn-outline-info mb-3 mt-1"  role="button"><img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30"> About Us</a>
                    </div>
                  <li class="list-group-item list-group-item-light"><h4>Connection</h4></li>
                    <p class="mt-2">
                      The idea of having a well constructed business plan made us an important goals by implementing real scientific coordinations, collaborations and cooperations as well. please note that we appreciate any kind of positive connections.
                    </p>
                    <div>
                      <a href="mailto:parsiancanab@gmail.com" class="btn btn-outline-info mb-3"  role="button"><img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">  Contact Us</a>
                    </div>
                  <li class="list-group-item list-group-item-light"><h4>Subscription</h4></li>
                  <div>
                    <p class="mt-2">
                      For an effective information, being updated to company's notifications and news, it is possible via the link below; please feel free to subscribe and stay updated with Your's PCNB Co.
                    </p>
                    <a href="{% url 'subscribe' %}" class="btn btn-outline-info mb-3"  role="button"><img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">  Subscribe</a>
                  </div>
                </ul>
              </div>
            </div>
              <div class="content-section">
                <div class="content">
                  <img class="m-2 float-start" src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
                </div>
                <h1 class="float">Our Sidebar</h1>
                <div class="content-section">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <h4>Information</h4>
                        <p class="mt-2">PCNB Co. is a private joint-stock company...</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="content-section">
                <div class="content">
                  <img class="m-2 float-start" src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
                </div>
                <h1>Digital Currencies</h1>
                  <div class="content-section">
                    <div id="currency-container">
                    </div>    
                  </div>
              </div>
                <div class="ontent-section"> 
                  <div class="content-section">
                    <div class="content">
                      <img class="m-2 float-start" src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
                    </div>
                    <div id="calendar"></div>
                    <h1>Daily Calendar</h1>
                      <div class="content-section">
                        <h3>Date and Time</h3>
                        <p id="demo"></p>
                      </div>
                    <div class="mt-3">
                      <a href="{% url 'blog-blog' %}" dir="rtl" class="farsi btn btn-info"  role="button"><img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">  پارسیان کنب</a>
                    </div>
                  </div>
                {% endblock %}
                </div>
          </div>
      </main>
      <footer>
        {% block footer %}
          <center><p class="m-5">&copy; 2023, Parsian Canab Crop the New Agricultural and Industrial Company. All rights reserved. <a href="https://pcnb.ir">PCNB Co.</a></p></center>
        {% endblock %}
      </footer>
    <script src="{% static 'blog/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<!-- <div class="navbar-nav" dir="rtl">
        <a class="farsi nav-item nav-link" href="{% url 'subscription' %}">عضویت</a>
        <a class="farsi nav-item nav-link" href="{% url 'blog-blog' %}">پارسیان کنب</a>
        <a class="navbar-brand" href="/bloghome">
          <img src="{% static 'blog/logo opacity.png' %}" alt="pcnblogo" width="30" height="30">
        </a>
      </div> -->