{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid float-right">
    <ul class="nav farsi" dir="rtl">
      <li class="nav-item">
        <a href="{% url 'blog-blogone' %}" class="btn btn-default" role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> جامع اقتصادی کنب </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog-blogtwo' %}" class="btn btn-default" role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> خدمات ، کشت و صنعت </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog-blogthree' %}" class="btn btn-default" role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> درباره طرح تولیدی تجاری </a>
        <a class="nav-link" href="{{ 'blogthree' }}"></a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog-blogfour' %}" class="btn btn-default" role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> شرکت مجازی کنب </a>
      </li>
    </ul>
  </div>
  <div class="container mt-5" dir="rtl">
    <img class="content" src="{% static '/blog/IMG_0174,.jpg' %}" alt="">
    <div class="content-section mt-2">
      <center><h2 class="farsi">سلام،<br>شرکت کشت و صنعت نوین بذر پارسیان کنب<br>ورودتان را ارج نهاده و به شما خوش آمد عرض می‌نماید.</h2></center>
  </div>
</div>
{% endblock content %}
{% block main %}
<div class="col-md-4">
<div class="content-section">
  <div class="content">
    <img class="m-2 float-start" src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">
  </div>
  <h3 class="farsi" dir="rtl">درباره پارسیان کنب</h3>
  <div class="content-section">
    <ul class="list-group farsi" dir="rtl">
      <li class="list-group-item list-group-item-light"><h4>اطلاعات</h4></li>
        <p class="farsi mb-3 mt-2">شرکت سهامی خاص کشت و صنعت نوین بذر پارسیان کنب، در سال ۱۳۹۲ حول موضوع اجرا و توسعه طرح علمی و تحقیقاتی کشت و صنعت در چارچوب قانون، ثبت و تأسیس گردیده است.  </p>
        <div class="flaot">
          <a href="{% url 'blog-about' %}" class="btn btn-outline-info mb-3"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> درباره</a>
        </div>
      <li class="list-group-item list-group-item-light"><h4>ارتباطات</h4></li>
        <p class="farsi mt-2">
          در این بخش شما می‌توانید به صورت مستقیم با عوامل شرکت ارتباط برقرار نموده و در موارد مورد نیاز همکاری و همراهی نمایید.
        </p>
        <div>
          <a href="mailto:parsiancanab@gmail.com" class="btn btn-outline-info mb-3"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">  تماس</a>
        </div>
      <li class="list-group-item list-group-item-light"><h4>عضویت</h4></li>
      <div>
        <p class="farsi mt-2">
          در این بخش شما می‌توانید با استفاده از لینک مربوطه نسبت به تکمیل فرم و عضویت در مجموعه مجازی کشت  صنعت کنب اقدام نمایید و بدین ترتیب در جریان طرحهای تولیدی و تجاری، اخبار و نحوه سرمایه گذاری در شرکت قرار بگیرید. 
        </p>
        <a href="{% url 'subscription' %}" class="btn btn-outline-info mb-3"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">  عضویت</a>
      </div>
    </ul>
  </div>
</div>
  <div class="content-section farsi" dir="rtl">
    <div class="content">
      <img class="m-2 float-start" src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">
    </div>
    <h3>نوار ابزار جانبی</h3>
    <p class='text'>سایر اطلاعات و نویسه‌ها
      <ul class="list-group farsi">
        <li class="list-group-item list-group-item-light">آخرین نویسه‌ها</li>
        <li class="list-group-item list-group-item-light">اخبار و اطلاعات</li>
        <li class="list-group-item list-group-item-light">تقویم روز</li>
        <li class="list-group-item list-group-item-light">دیگر موارد</li>
      </ul>
    </p>
  </div>
  <div class="content-section" dir="rtl">
    <div class="content">
      <img class="m-2 float-start" src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">
    </div>
    <h3>اطلاعات</h3>
    <div>
    <div class="content-section">
      <h3>زمان</h3>
      <p>ساعت و تاریخ روز:<p id="demo"></p></p>
      <a href="{% url 'blog-blog' %}" dir="rtl" class="farsi btn btn-info"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">  پارسیان کنب</a>
    </div>
    <div class="content-section" dir="ltr">
      <h3 class="farsi">نرخ برابری رمزارزها</h3>
      <div id="currency-container">
      </div>    
    </div>
  </div>
</div>
<script src="{% static 'blog/main.js' %}"></script>
<script>
  function updateClock() {
      const now = new Date();
      const hour = now.getHours() % 12;
      const minute = now.getMinutes();
      const second = now.getSeconds();
      
      const hourHand = document.getElementById('hour');
      const minuteHand = document.getElementById('minute');
      const secondHand = document.getElementById('second');

      hourHand.style.transform = `rotate(${(hour * 30) + (minute * 0.5) + 90}deg)`;
      minuteHand.style.transform = `rotate(${(minute * 6) + 90}deg)`;
      secondHand.style.transform = `rotate(${(second * 6) + 90}deg)`;
  }

  setInterval(updateClock, 1000);
  updateClock(); // Initial call to avoid delay in showing the clock
</script>
{% endblock %}
  </div>

{% block footer %}
  {% if show_custom_footer %}
    <p class="custom_footer">&copy; https://canab.ir. Custom footer</p>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

