{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="navbar bg-body-tertiary" dir="rtl">
      <a href="{% url 'blog-blog' %}" class="btn btn-default farsi font-weight-bold" role="button">شرکت کشت و صنعت نوین بذر پارسیان کنب  <img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"></a>
    </div>
    <div class="content">
      <img class="object-fit: cover;" usemap="#workmap" style="border-radius: 15px;" width="850px" max-width="100%" src="{% static '/blog/poster.jpg' %}" alt="poster">
      <map name="workmap">
        <area shape="rect" coords="500,300,700,400" alt="Computer" href="{% url 'blog-blog' %}">
      </map>
    </div>
  </div>
  <div class="content float-end mt-2">
    <h2>Parsian Canab Crop the New Agricultural and Industrial Company</h2>
  </div>
  <div class="float-end content-section">
    <p>PCNB Co. is a private joint stock company that has been established since 2013 for enhancing research and developement improvements in the related scientific fields. <br>
    We provide services to farmers and farm owners, from providing producting crops to selling all type products toward internal and exporting international markets. <br> You are so welcome on PCNB Co. Board, and 
    we are honoured, establishing long-term heavy usefull connections to maintain responsible cooperations and coordinations to appropriate collaborations with whom interested in. <br>
    below is our email address and you can get direct connection, please feel free to contact us!
    </p>
    <a href="mailto:parsiancanab@gmail.com" class="btn btn-outline-info" role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">  Contact Us</a>
    <p class="mt-3">You can sign up easily using the registration link via the related page, please note that you will get a personal account thet wil be used for many actions in this site.</p>
    <a href="{% url 'register' %}" class="btn btn-outline-info"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> Sign Up</a>
    <p class="mt-3">Once you signed up in this site you will be able to log in to your personal page per account post coments via post action and edit your information anytime.</p>
    <a href="{% url 'login' %}" class="btn btn-outline-info"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30"> Login</a>
    <p class="mt-3">You can also subscribe to our mailing list as a general subscriber via the link below!</p>
    <a href="{% url 'subscription' %}" class="btn btn-outline-info mb-3"  role="button"><img src="{% static '/blog/logo opacity.png' %}"  width="30" height="30">  Subscribe</a>
  </div>
  <h1 class="mt-5">Users Posts</h1>
    {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="user_profile_image">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}